#navbar{
    height: 90px;
    width: 90%;
    border: 0px solid red;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: sticky;
    top: 0px;
    background-color: white;
} 
#navbar:hover{
    background-color: rgb(75, 45, 45);
    color: wheat;
}
img{
    height: 100%;
    width: 100%;
}
#logo{
    height: 70%;
    width: 23%;
    border: 0px solid red;
}
.search{
    height: 70%;
    width: 23%;
    border: 0px solid red;
}
#se{
    padding: 15px;
    font-size: 18px;
}
#links{
    height: 70%;
    width: 30%;
    border: 0px solid red;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
button{
    padding: 10px;
    width: 90px;
    border: none;
}
button:hover{
    background-color:white;
    color: gray;

}



#poster{
    height: 300px;
    width: 80%;
    border: 0px solid red;
    margin-left:20px;
    margin: auto;
}
#categories{
    height: 300px;
    width: 90%;
    border: 0px solid red;
    margin: auto;
    margin-top: 10px;
}
h1{
    text-align: center;
    opacity: 0.7;
    font-weight: 600;
}
#cat{
    height: 80%;
    width: 100%;
    border: 0px solid red;
    margin: auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    height: 70%;
    width: 25%;
    border: 0px solid red;
}
p{
   opacity: 0.7;
    text-align: center;
    
} 


#categories2{
    height: 300px;
    width: 90%;
    border: 0px solid red;
    margin: auto;
    margin-top: 10px;
}
h1{
    text-align: center;
    opacity: 0.7;
    font-weight: 600;
}
#cat2{
    height: 80%;
    width: 100%;
    border: 0px solid red;
    margin: auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.item1{
    height: 70%;
    width: 20%;
    border: 0px solid red;
}
p{
   opacity: 0.7;
    text-align: center;
    
} 
#categories3{
    height: 400px;
    width: 90%;
    border: 0px solid red;
    margin: auto;
    margin-top: 10px;
}
h1{
    text-align: center;
    opacity: 0.7;
    font-weight: 600;
}
#cat2{
    height: 80%;
    width: 100%;
    border: 0px solid red;
    margin: auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.item2{
    height: 70%;
    width: 25%;
    border: 0px solid red;
}
p{
   opacity: 0.7;
    text-align: center;
    
} 

b{

   margin-left: 100px;
   margin-right: 100px;
   text-align: center;
}

h5{
    font-style: oblique;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.8;
}
#box{
    height: 200px;
    width: 80%;
    border: 0px solid red;
    padding: 10px;
    background-color: gray;
    margin: auto;
}
h2{
    text-align: start;
}
