body {
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  #userGuess, #guessButton {
    padding: 10px;
    margin: 10px;
  }
  
  #feedback {
    font-weight: bold;
  }
  